@import "tailwindcss";

@theme {
  --color-bg:      #f9fafb;
  --color-surface: #ffffff;
  --color-border:  #d1d5db;
  --color-primary: #059669;
  --color-accent:  #0d9488;
  --color-text:    #111827;
}

